<div class="container is-widescreen is-fullhd">
    <div class="columns is-multiline is-fullmobile is-fulldesktop is-fulltablet is-fullhd is-fullwidescreen">
        <div class="column is-fullwidth">
            <ul id="comment-ul">
                <li>
                    @foreach (var comment in Model)
                    {
                        <article class="message is-white is-marginless">
                            <div class="message-header">
                                <p class="is-family-sans-serif has-text-weight-light has-text-black has-text-justified is-size-6 is-size-6-desktop is-size-6-mobile is-size-6-fullhd is-size-6-tablet is-size-6-widescreen pt-1">
                                    <small class="has-text-danger-dark is-size-7 is-size-7-desktop is-size-7-mobile is-size-7-fullhd is-size-7-tablet is-size-7-widescreen has-text-weight-light has-text-black has-text-justified"></small>
                                    <a href="@Url.Action("Images","Member",new { username = ViewBag.User })" style="text-decoration:none;" rel="nofollow" class="member is-family-sans-serif is-size-6 is-size-6-desktop is-size-6-mobile is-size-6-fullhd is-size-6-tablet is-size-6-widescreen has-text-weight-light has-text-black">@comment.CommentUserName</a>
                                </p>
                            </div>
                            <div class="message-body">
                                <p class="is-family-sans-serif is-size-6 is-size-6-desktop is-size-6-mobile is-size-6-fullhd is-size-6-tablet is-size-6-widescreen has-text-weight-light has-text-black has-text-justified">
                                    @comment.CommentContents
                                </p>
                                <small class="is-family-sans-serif has-text-weight-light has-text-black has-text-justified">@comment.CommentDate</small>
                            </div>
                        </article>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
