<nav class="navbar adminheadcolor">
    <div class="container is-fullhd is-widescreen">
            <div class="navbar-brand">
                    <a href="@Url.Action("Index","Admin", new { area = "Admin" })" rel="nofollow">
                        <img class="image logo" alt="zepplin logo" title="zepplin-logo" height="70" width="81" src="@Url.Content(UrlPaths.logo)" />
                    </a>
              </div>
            <div class="navbar-end">
                <form asp-area="Admin" asp-controller="Admin" asp-action="AdminPhotoSearchMove">
                    <div class="field is-grouped mt-6">
                        <p class="control is-expanded">
                            <label class="label">
                                <input id="adm-search" class="input is-small is-black is-fullwidth has-text-black" name="term" type="text" aria-label="Fotoğraf Arama" placeholder="Fotoğraf Arama">
                            </label>
                        </p>
                        <p class="control">
                            <a id="admsearch" href="#" class="button is-small is-white has-text-black">Arama</a>
                        </p>
                    </div>
                </form>
            </div>
    </div>
</nav>