@using Microsoft.AspNetCore.Http
@await Component.InvokeAsync("AdminHeader")
<div class="container">
    <div class="columns is-multiline">
        <div class="column is-3">
            <aside class="menu">
                <p class="menu-label">İşlemler</p>
                <ul class="menu-list">
                    <li>
                        @if (Context.Session.GetString("adminusername") == "fatihyvg")
                        {
                            <p class="has-text-black">Hoşgeldiniz: @Context.Session.GetString("adminusername")</p>
                        }
                    </li>
                    <li>
                        @if (Context.Session.GetString("adminusername") == "fatihyvg")
                        {
                            <a class="menu-lab" style="visibility:visible;" asp-area="AdminUser" asp-controller="AdminUsers" asp-action="Index">Kullancılar</a>
                        }
                    </li>
                    <li>
                        @if(Context.Session.GetString("adminusername") == "fatihyvg")
                        { 
                            <a class="menu-lab" style="visibility:visible;" asp-area="AdminCategory" asp-controller="AdminCategoryCreate" asp-action="Index">Kategoriler</a>
                        }
                    </li>
                    <li>
                        <a class="menu-lab" onclick="HomePhotosModalShow();">Ana Sayfa Fotoğrafları</a>
                    </li>
                    <li>
                        <a class="menu-lab" asp-area="Admin" asp-controller="Admin" asp-action="AdminSignOut">Çıkış</a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            @await Component.InvokeAsync("AdminImagesLoad")
        </div>
    </div>
</div>
@await Component.InvokeAsync("AdminHomeImages") 