<footer class="footer is-fixed-bottom has-background-white" style="height:100px;">
    <div class="columns is-gapless is-fullmobile is-fullhd is-fullwidescreen is-fulldesktop mb-6">
        <div class="column is-4">
            <div class="field">
                <div class="control">
                    <a class="is-family-sans-serif is-size-7 is-size-7-desktop is-size-7-fullhd is-size-7-mobile is-size-7-tablet is-size-7-widescreen has-text-black member" rel="nofollow" href="@Url.Action("SignIn","Account")">Sign-In</a>
                </div>
                <div cass="control">
                    <a class="is-family-sans-serif is-size-7 is-size-7-desktop is-size-7-fullhd is-size-7-mobile is-size-7-tablet is-size-7-widescreen has-text-black member" rel="nofollow" href="@Url.Action("Register","Registration")">Register</a>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div id="copyright" class="field has-text-centered">
                <div class="control">
                    <p class="is-family-sans-serif is-size-7 is-size-7-desktop is-size-7-mobile is-size-7-fullhd is-size-7-tablet is-size-7-widescreen has-text-bottom mt-4">Copyright@2021&nbsp;Zepllin</p>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div id="social" class="content is-pulled-right">
                <p class="menu-label is-family-sans-serif is-size-7 is-size-7-desktop is-size-7-mobile is-size-7-fullhd is-size-7-tablet is-size-7-widescreen has-text-centered">Follow</p>
                <a href="#" target="_blank" rel="noreferrer" aria-label="Instagram" class="button is-small is-outlined is-instagram">
                    <span class="icon">
                        <i class="fab fa-instagram fab-lg"></i>
                    </span>
                </a>
                <a href="#" target="_blank" rel="noreferrer" aria-label="Twitter" class="button is-small is-outlined is-twitter">
                    <span class="icon">
                        <i class="fab fa-twitter fa-lg"></i>
                    </span>
                </a>
                <a href="#" target="_blank" rel="noreferrer" aria-label="Facebook" class="button is-small is-outlined is-facebook">
                    <span class="icon">
                        <i class="fab fa-facebook fa-lg"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>
