<div id="upload-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Photo Upload</p>
            </header>
            <section class="modal-card-body">
                <form id="uploader"
                      class="dropzone"
                      method="post"
                      enctype="multipart/form-data"
                      asp-controller="Profile"
                      asp-action="UploadImages">
                    <ul class="image-ul">
                        <li>
                            <label class="label">Photo Title:</label>
                            <input id="imgtitle" class="input is-medium is-black is-fullwidth is-capitalized" maxlength="130" name="imagetitle" type="text">
                        </li>
                        <li>
                            <label class="label">Photo Category:</label>
                            <div class="select is-fullwidth is-black has-text-centered">
                                <select name="imagecategory">
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.CategoryId">@item.CategoryName</option>
                                    }
                                </select>
                            </div>
                        </li>
                    </ul>
                    </form>
                <footer class="modal-card-foot">
                    <input id="uploads" class="button is-black" type="button" value="Upload" />
                    <input id="cancel" class="button is-normal is-danger" onclick="UploadModalHide()" value="Close" />
                    <ul>
                        <li>
                            <p class="is-size-7 is-size-7-mobile is-size-7-touch is-size-7-tablet is-size-7-desktop is-size-7-widescreen is-size-7-fullhd has-text-danger">
                                Your uploaded photos will be published after approval
                            </p>
                        </li>
                    </ul>
                </footer>
            </section>    
    </div>

    <button class="modal-close is-large" aria-label="close" onclick="UploadModalHide();"></button>
</div>

