<section class="hero is-fullheight is-light">
    <div class="hero-body pt-b-30">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
            <h1 class="title">
                <span class="is-size-2 has-text-centered is-black">Access Denied</span>
            </h1>
            <a href="@Url.Action("Index","Home")" rel="nofollow" class="is-black has-text-centered is-black">Return</a>
           </div>
        </div>
    </div>
</section>