<div class="columns is-multiline is-fullmobile is-fulldesktop is-fulltablet is-fullhd is-fullwidescreen mt-4">
    @foreach (var item in Model)
    {
        <div class="column is-one-quarter">
            <div class="field">
                <div class="control">
                    <p class="has-text-black has-text-centered">
                        <a href="@Url.Action("List","Category",new { CategoryFk = item.CategoryId  })" class="button is-rounded is-small is-black is-size-7 is-size-7-desktop is-size-7-fullhd is-size-7-mobile is-size-7-tablet is-size-7-widescreen has-text-white maincategory" title="@item.CategoryName">@item.CategoryName</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
